
    <div class="loginbox">
       <a routerLink="/home"><img src="./assets/images/login-icon.png" alt="Login Logo" class="icon" ></a>
        <h1 style="color: black;">Welcome Back!!!</h1>
        <form>
            <p style="color: black;">Email Address</p>
            <input type="text" name="" placeholder="Enter your email address">
            <p style="color: black;">Password</p>
            <input type="password" name="" placeholder="Enter your password">
            <input type="submit" name="" value="login" >
            <a routerLink="/forgotpassword" style="color: black;">Forgot Password?</a><br>
            <a routerLink="/Createanaccount" style="color: black;">Don't have an Account?Create One</a>
        </form>
    </div>
    
