<div class="loginbox" style=" padding-top: 250px;">
    <a href="Homepage.html">  <img src="./assets/images/corporate login icon.jpg" alt="Login Logo" class="icon" ></a>
     <h1 style="color: black;">It's good to see you Voizian!!!</h1>
     <form>
         <p style="color: black;">Email Address</p>
         <input type="text" name="" placeholder="Enter your Voiz email address">
         <p style="color: black;">Password</p>
         <input type="password" name="" placeholder="Enter your Voiz email password">
         <input type="submit" name="" value="login" >
         <a routerLink="/forgotpassword" style="color: black;">Forgot Password?</a><br>
     </form>
 </div>
 <router-outlet></router-outlet>