<div class="loginbox">
    <a routerLink="/home"><img src="./assets/images/forget-password-icon.png" alt="Login Logo" class="icon" ></a>
     <h1 style="color: black;">Forget Password</h1>
     <form>
         <p style="color: black;">Email Address</p>
         <input type="text" name="" placeholder="Enter your email address to reset password">
         <p>
            <a routerLink="/newpassword"><input type="button" name="" value="Submit" ></a>
            <a routerLink="/CustomerLogin"><input type="button" name="" value="Cancel" ></a>
        </p>
         <a routerLink="/createanaccount" style="color: black;">Don't have an Account?Create One</a>
     </form>
 </div>
<router-outlet></router-outlet>
