<div class="loginbox">
    <a href="/home"><img src="./assets/images/new-password-icon.png" class="icon" ></a>
     <h1 style="color: black;">Setup New Password</h1>
     <form>
         <p style="color: black;">Create New password</p>
         <input type="password" name="" placeholder="Enter a new Password">
         <p style="color: black;">Confirm Password</p>
         <input type="password" name="" placeholder="Confirm your new Password">
         <button type="button" class="btn btn-success">Success</button><br>

     </form>
     <router-outlet></router-outlet>